body.body_about.normal
  background #1d8eb1
  height 100%
  position relative

.scroll_spy
  float left

.normal
  .about 
    &_mega_worktime + .normal .about_mega_get  
      margin-top 7px
    
    &_mega
      &_title
        font-family pfdintextcondpro-medium
        color black
        font-size 22px
        line-height 30px
      
      &_change
        font-family pfdintextcondpro-medium
        color  #000000
        font-size 18px
        margin-top 15px
        line-height 22px
        padding-right 45px
        display inline-block
        
        & a
          font-family pfdintextcondpro-medium
          color #bf3036
          font-size 18px

      &_worktime
        color black
        font-family pfdintextcondpro-regular
        padding-top 5px
        font-size 18px
        float left
        line-height 22px
        width 100%
        position relative
        display block
        padding-bottom 7px
        
        & + .about_mega_worktime_st
          margin-top -4px
        
        &_st
          color black
          position relative
          font-family pfdintextcondpro-regular
          font-size 18px
          float left
          width 100%
          line-height 22px
          display inline
          
        
        
        &_time
          color #0f92af!important
          display inline
          
      &_geo
        font-family PFDinTextCondPro-Italic
        color  #000000
        width 100%
        font-style italic
        font-size 18px
        line-height 22px
        
      &_get
        font-family pfdintextcondpro-medium
        color #bf3036
        display block
        font-size 14px
        float left
        margin-bottom 10px
        line-height 18px
        width 100%
        margin-top 7px
        position relative
        overflow hidden
        text-decoration underline
        
      &_sheldue
        font-family pfdintextcondpro-medium
        color  #000000
        float left
        clear right
        font-size 18px
        margin-top 15px
        line-height 22px
        background-image url("images/about/car.png")
        background-position right center
        background-repeat no-repeat
        padding-right 45px
        display inline-block
        
          
        
      &_time
        display none
        margin-bottom 20px
        float left
        clear right
        width 100%
        
        &.active
          display block  
      
      &_dates
        text-transform uppercase
        color black
        font-family pfdintextcondpro-regular
        padding-top 10px
        font-size 18px
        float left
        line-height 22px
        width 100%
        display inline
        padding-bottom 15px
        
        & div
          display inline
          font-family pfdintextcondpro-medium
          
        & span
          visibility visible!important
          display inline!important
          width auto!important
          font-family pfdintextcondpro-regular!important
          padding 0px!important
          line-height 22px!important
          font-size 18px!important
          color #0f92af!important
          transition 300ms all ease-in!important
          text-transform uppercase!important
          cursor pointer!important
          
          &.underline
            text-decoration underline
          
          &.active
            color #bf3036!important
            text-decoration underline!important
      
      &_times
        display block
        color #0f92af
        font-size 16px
        vertical-align top
        line-height 20px
        font-family pfdintextcondpro-regular
        display inline-block
      
      &_place
        margin-left 15px
        display inline-block
        color black
        max-width calc(100% - 110px)
        font-size 16px
        line-height 20px
        font-family pfdintextcondpro-regular
        
      &_item
        width 100%
          
      
    &_where
      position absolute
      user-select none
      font-size 18px
      font-family pfdintextcondpro-medium
      line-height 74px
      cursor pointer
      min-width 94px
      background-image url("images/about/point.png")
      background-position bottom left
      background-repeat no-repeat
      padding-bottom 8px
      top 100px
      text-transform uppercase
      right 100px
      
      &.car
        background-image url("images/about/point_car.png")
        padding-bottom 10px
      
      &.mos
        right 817px
        top 420px
        
      &.nig
        right 695px
        top 427px
        
      &.spb
        right 849px
        top 374px
        
      &.kaz
        right 742px
        top 482px
      &.ros
        right 739px
        top 586px
      &.adg
        right 751px
        top 651px
      &.sam
        right 702px
        top 522px
      &.ufa
        right 650px
        top 461px
      &.ekb
        right 514px
        top 426px
        
      &.omsk
        right 467px
        top 452px
        
      &.nov
        right 280px
        top 481px
        
        
    &_snake
      width 1206px
      height 521px
      max-width 100%
      background-size cover
      position absolute
      left 50%
      bottom -50px
      margin-left -600px
      z-index 5
      background-image url("images/about/snake.png")
      

    &_partners
      width 806px
      height 540px
      z-index 30
      position relative
      background-image url("images/about/pa2.png")
      margin-bottom: 130px
      background-repeat no-repeat
      background-position center

    &_how
      width 685px
      margin-left -35px
      position relative
      height 595px
      background-image url("images/about/center4.png")
      background-repeat no-repeat
      background-position center
      
      &_title
        margin-top 140px
        
    
    &_feather
      width 166px
      height 97px
      background-image url("images/about/feather.png")
      background-position center
      position absolute
      right 30px
      top -49px
      background-repeat no-repeat
    

    &_need
      
      &_aftertext
        font-family DINPro-Light
        font-size 16px
        line-height 20px
        
      &_item
        width 300px
        height 200px
        z-index 5
        position relative
        background-repeat no-repeat
        background-position left bottom
      
      &_basket
        background-image url("images/about/buscket.png")
        z-index 5
        left -55px
        
      &_stop
        background-image url("images/about/stop.png")
        z-index 5
        left -70px
      

      &_bag
        left -10px
        background-image url("images/about/bug.png")
        
      &_ver
        background-image url("images/about/line.png")
        height 114px
        width 3px
        position absolute
        left 51px
        top -50px
        z-index 1
      
      &_gor
        background-image url("images/about/line_gor.png")
        height 3px
        width 228px
        background-repeat 2px
        position absolute
        right -70px
        bottom 100px
        z-index 1

      
      &_title
        color white
        font-size 48px
        margin-top 80px
        font-family PlayfairDisplay-Bold
        line-height 49px
        margin-top 0px
        margin-bottom 0px

      &_list
        line-height 24px
        height auto
        font-size 16px
        padding-left 15px
        background-image url("images/about/before.png")
        background-position left 12px
        background-repeat no-repeat
        display block
        width 100%

    &_green_page
      background #16935E

    &_red_page
      background rgba(209, 111, 121, 0.93)
      height 570px
      
      &_stat
        text-transform uppercase
        font-size 20px
        font-family DINPro-Medium
        line-height 20px
        
      &_graph
        position relative
        width 744px
        height 295px
        background url("images/graph.png")
        background-position center
        background-repeat no-repeat
    &_pre
      height 1001px
      width 100%
      position absolute
      top -136px
      right 0px
      background-image url("images/about/clouds.png")
      background-position right top
      background-repeat no-repeat
      
    &_text
      font-family DINPro-Light
      font-size 18px
      line-height 24px
      display block
      max-width 425px
      
      &_1
        margin-top 40px
      
      &_2
        margin-top 30px
        
      &_3
          margin-top 120px
        
      &_4
        margin-top 270px
        
      &_5
      &_6
        margin-top 80px
        
      &_7
        width auto
        max-width 1000px
        


      &_bolder
        font-family DINPro-Medium
        
      & a
        text-decoration underline
      
      &_24
        font-size 24px
        line-height 32px
        max-width 540px
        z-index 13
        margin-top 10px
    
    &_100
      font-size 70px
      padding-bottom 20px!important
      padding-right 40px
      background-image url("images/ruble_big.png")
      background-repeat no-repeat
      padding-bottom 0px
      margin-bottom 0px
      margin-top 120px
      display inline-block
      background-position right center
      
      &_subtitle
        font-size 24px
        line-height 32px
        font-family DINPro-Light
        clear left
        margin-top 20px
        display inline-block
        float left
        max-width 705px
        
      &_href
        opacity .6
        font-size 14px
        text-decoration underline
      
    &_tele
      width 82px
      height 57px
      background url("images/about/watch.png")
      display block
      position relative
      float left
      margin-top 185px

      &_link
        display block
        float left
        clear left
        position relative
        font-size 16px
        line-height 20px
        text-decoration underline
        
    &_aftertitle
      color white
      font-family PlayfairDisplay-Bold
      font-size 36px
      line-height 40px
      margin-top 60px

    &_menu
      padding-left 0px
      top 120px
      z-index 300
      opacity 1
      visibility visible
    
      &_item
        color white
        clear left
        float left
        font-size 14px
        line-height 16px
        margin-bottom 30px
        position relative
        text-transform uppercase
        
            

        &.active
          font-family DINPro-Black
          background none!important
          padding-left 15px
          border-left 1px solid rgba(255, 255, 255, 0.39)
          
          &:hover
            opacity 1


    &_change
      width 106px
      height 74px  
      cursor pointer
      background url("images/about/change.png")
      margin-bottom 40px
      background-repeat no-repeat
    
    &_line:before
      position absolute
      content ""
      background-color color_purpure
      width 55px
      height 1px 
      top -20px
      

   
@media (min-width: 1640px)
  .normal 
    .about
      &_need
        &_gor
          width 320px
          
          

@media (max-width:  991px)

  body.body_about .panel-group
    margin-bottom 0px

  #where
    height auto!important
    background-image none!important

  #need
    overflow hidden
  
  .about_green_page
    padding-top 60px
    
    .about_line:before
        background #ffc064

  .border_red
    width 100%!important
    float left
    position relative

  .normal .about_map .about_map .panel-title .col-sm-12
    padding-bottom 0px!important

  .normal .about_map .about_map
    margin-bottom 0px!important
    
  .normal .about_map .about_map .panel-default:first-child
    border-top none

  .normal .about_map .panel-collapse:last-child .col-sm-12
    padding-bottom 0px!important
    
  .normal .about_map .about_map .panel-default:last-child
    border-bottom none
    
  body.body_about.normal
    background #1d8eb1

  .normal  
    h1.about_title
    h2.about_title 
      font-size: 28px
      margin-top 114px
      line-height: 32px
      padding-bottom 0px

  .normal
    .about
      
      &_mega
        
        &_get
          width 100%
          margin-top 7px
          float none
      
        &_normal
          float left
          padding-bottom 15px
        
        &_change
        &_worktime  
        &_worktime_st
        &_place
        &_times
          color white
          
        &_change
          &.adding
            margin-top -5px
          
        &_worktime 
          width 100%
          
        &_worktime_time
          color #bf3036!important

        &_title
          color white
          line-height 20px
          font-size 20px
          
        &_dates 
          color white
          float left
          padding-top 0px
          display block

          & span
            float none!important
            color white !important
      
        &_geo
          color white
          margin-top 10px
          font-size 14px
          line-height 18px
        
        &_sheldue
          color white
          clear right
          margin-top 10px
          margin-bottom 10px
          

      &_map
        background transparent
        margin-top 20px 
        margin-bottom 20px!important
        
        & .about_map
          margin-bottom 0px
          margin-top 0px
          
        
        & .panel
          background transparent
        
        & img
          float left
        
        & span
          display block
          text-transform uppercase
          color  white
          font-family DINPro-Medium
          font-size 15px
          
          
          float left
          line-height 17px
          color:

           
          & *
            vertical-align middle

        & .panel-collapse
          color #000000
          font-size 14px
          line-height 16px
          
          & .col-sm-12
            padding-bottom 20px
            
        & .panel-title .col-sm-12
          background url("images/about/mobile/shape2.png")
          background-position right center
          background-repeat no-repeat
          
        & .panel-default
          border-top 1px solid rgba(237, 237, 237, 0.22)
          
          &:last-child
            border-bottom 1px solid rgba(237, 237, 237, 0.22)
          
        & .panel-heading
          padding-top 15px
          cursor pointer
          padding-bottom 15px


      &_pass
        width 100%
        background-repeat no-repeat
        background-position -30px center
        height 336px
        margin-bottom 40px
        background-image: url(images/about/mobile/basket.png)
        
        &_text
          font-family DINPro-Light
          color white
          font-size 16px
          line-height 20px
          left 140px
          top: 41px
          position relative
          
        &_text +  .about_pass_text
          top 81px
        
        &_text +  .about_pass_text +  .about_pass_text
          top 140px
      
      &_need
        
        &_title
          font-size 32px
          
        &_list
          font-size 16px
          display inline-block
          height auto
          background-position left 12px

      &_pre
        top 50px
        background-image: url(images/about/mobile/clouds.png)


      &_line:before
        width 44px
        top -15px
        
      &_text
        font-size 16px
        line-height 22px

        &_1
          margin-top 20px
        
        &_2
          margin-top 20px
        
        &_3
          margin-top 20px
          top -65px
        
        &_4
          margin-top -221px
          margin-bottom 20px
        
        &_5
          margin-top 0px!important
        
        &_6
          margin-top 50px!important
          
        &_24
          margin-top 20px
          z-index 56
          

      &_aftertitle
        margin-top 34px
        font-size: 20px
        line-height 24px
        
      &_100
        background-size 13px
        padding-right 20px
        margin-top 60px!important
        padding-bottom 0px!important
        background-position right 10px
        
        &_subtitle
          font-size 16px
          line-height 20px
          
        &_href
          float none
          display inline
          
        &_journal
          background url("images/about/mobile/journal.png")
          width 227px
          height 264px
          top -65px
          position relative
          left -36px
          
        &_weight
          width 320px
          height 353px
          position relative
          top -114px
          background url("images/about/mobile/weight.png")

      &_how
        
        &_title
          margin-top 60px!important
        
        &_image
          width 320px
          position relative
          top -140px
          left -25px
          height 1043px
          background url("images/about/mobile/what_with.png")
        
        &_partners
          color white
          color #ffffff
          font-size 20px
          line-height 20px
          text-transform uppercase
          font-family DINPro-Medium
          margin-top -100px
          
          &_block
            background white
            margin-top 20px 
            
            & img
              float left
            
            & span
              display block
              padding-left 20px
              color  #000000
              font-family DINPro-Medium
              font-size 15px
              height 37px
              
              float left
              line-height 17px
               
              & *
                vertical-align middle

            & .panel-collapse
              color #000000
              font-size 14px
              line-height 16px
              
              
              & *
                padding-top 7px
                padding-bottom 17px
              

            & .panel-title .col-sm-12
              background url("images/about/mobile/shape_part.png")
              background-position right center
              background-repeat no-repeat
              
            & .panel-default
              border-top 1px solid rgba(29, 135, 165, 0.22)
              
            & .panel-heading
              padding-top 15px
              cursor pointer
              padding-bottom 15px
              