@import '../variables.styl'


.no_img
  background none!important
  background-image none!important

.admin
.normal
  .chosen-container
    width 100%!important
    
    & span
      color black

.modal
  background rgba(0,0,0,.54)

.nav>li>a:focus
.nav>li>a:hover
.nav-tabs>li>a:hover
.nav>li>a
  border-color none
  background none
  border none!important
  border-radius 0px!important

  

.nav-tabs>li.active>a
.nav-tabs>li.active>a:focus
.nav-tabs>li.active>a:hover
  color white
  border none
  border none!important
  cursor pointer
  background none
  font-family DINPro-Black
  background none!important
  padding-left 15px
  border-left 1px solid rgba(255, 255, 255, 0.39)!important
  border-radius 0px!important

.absolute
  position absolute
  left 0px
  top 0px
  width 100%

.nav-tabs>li.active>a
.nav-tabs>li.active>a:focus
.nav-tabs>li.active>a:hover
.nav>li>a
  padding none
  border-radius 0px!important
    
.nav-tabs
  border none

.panel-group .panel+.panel
  margin-top 0px

.panel
  &-default
    border-color transparent
    box-shadow none
    
    &>.panel-heading
      background transparent
      border-color transparent
      color
.expert_item_img
  .img-responsive
    width 100%
  
.padding
  &_lr
    &-15
      padding-left 15px
      padding-right 15px
  &-5
    padding 5px!important
    
  &_bottom
    &_150
      padding-bottom 150px


.background
  &_color
    &_transparent
      background-color transparent!important


.zindex
  &_45
    z-index 45

.zindex
  &_10
    z-index 10
    
.margin
  
  &-5
    margin 5px!important 

  &_lr
    &-15
      margin-left 15px
      margin-right 15px
  
  &_top
    
    &_5
      margin-top 5px 

    &_10
      margin-top 10px 
    
    &_20
      margin-top 20px 
      
    &_25
      margin-top 25px
    
    &_30
      margin-top 30px!important 
      
    &_40
      margin-top 40px!important 
    
    &_50
      margin-top 50px!important

    &_60
      margin-top 60px!important
      
    &_80
      margin-top 80px!important 
      
    &_100
      margin-top 100px!important 
      
    &_120
      margin-top 120px!important
    
    &_140
      margin-top 140px!important
    
    &_200
      margin-top 200px!important
    
    &_270
      margin-top 270px!important  
 
.half
  width 50%
  float left

.border
  &_red
    border-radius 5px
    border-width 2px
    border-color #da6e77
    border-style solid
    padding 40px
    padding-bottom 30px
    padding-top 30px

.overflow
  
  &_hidden
    overflow hidden
    
  &_auto
    overflow auto
    float left
    min-width 100%
    max-width 100%
      
.border
  &-no
    border: none!important 
    float left
    width 100%     
  
.normal
  
    
  .form-group 
    margin-bottom 10px
    
  .body_about .panel-group
      margin-bottom 0px

  a
    color white
    cursor pointer
    text-decoration none
    transition 300ms all ease-in
    
    &:hover
      opacity 0.6

  span
    color white

  body&
    background-image -moz-linear-gradient( -159deg, rgb(9,107,142) 10%, rgb(30,119,143) 100%)
    background-image -webkit-linear-gradient( -159deg, rgb(9,107,142) 10%, rgb(30,119,143) 100%)
    background-image -ms-linear-gradient( -159deg, rgb(9,107,142) 10%, rgb(30,119,143) 100%)
    min-height 100vh
    width 100%
    font-family DINPro_regular
    
  h1
    font-family pfdintextcondpro-regular
    color white
    text-transform uppercase
    font-size 44px
    line-height 44px
    margin-bottom 0px
    padding-bottom 20px
    
    &.font_play
      font-family PlayfairDisplay-Bold

  .child 
    display -moz-inline-box
    display inline-block
    vertical-align middle
    zoom 1
    width 100%
    //display:inline

  .helper 
    display -moz-inline-box
    display inline-block
    vertical-align middle
    height 100%
    width 0px
    zoom 1
    //display:inline
       
  ::-webkit-input-placeholder
    color color_black
    font-size 20px
    transform scaleX(1.0037)
        
  ::-moz-placeholder
    color color_black
    font-size 20px
    transform scaleX(1.0037)
          
  :-moz-placeholder
    color color_black
    font-size 20px
    transform scaleX(1.0037)
            
  :-ms-input-placeholder
    color color_black
    font-size 20px
    transform scaleX(1.0037)
    
@media (max-width:  991px) 
  .normal
    
    body&
      background-image -moz-linear-gradient( -90deg, rgb(9,107,142) 13%, rgb(26,140,172) 78%, rgb(30,119,143) 100%)
      background-image -webkit-linear-gradient( -90deg, rgb(9,107,142) 13%, rgb(26,140,172) 78%, rgb(30,119,143) 100%)
      background-image -ms-linear-gradient( -90deg, rgb(9,107,142) 13%, rgb(26,140,172) 78%, rgb(30,119,143) 100%)
      min-height 100vh
      
    .child
      vertical-align top
    
      & h1
        padding-top 55px
        font-size 28px 
        line-height 32px

    .helper.helper-not-sm
      height auto




