@import '../variables.styl'

.admin
  
  .sweet-alert
    
    & button
    & .sa-icon.sa-error .sa-line
      background-color color_red!important 

    & .sa-icon.sa-error 
      border-color  color_red
      
.normal
  
  .sweet-alert
    
    & button
    & .sa-icon.sa-error .sa-line
      background-color color_red_mega!important 

    & .sa-icon.sa-error 
      border-color  color_red_mega