extends ./layout.jade
block content
  body.normal.graph
    .main.wow.fadeIn.timer
      .girl.pull-left.hidden-xs.hidden-sm.wow.fadeInLeft

      include ./components/header_new.jade

      .col-md-6.col-md-offset-4.text-center-sm
        .child
          h1.font_play 404
          span.main_dates.mod_404 Возможно, вы ошиблись при<br> вводе адреса, страница была<br> удалена или ее не существовало

          a.btn.btn-info.main_reg(title='На главную', href="/") На главную

        .helper.helper-not-sm


      footer.navbar-fixed-bottom.hidden-sm.hidden-xs.mainpage

        .col-md-4.text-center-sm.hidden-sm.hidden-xs
          span.copyright © ООО "ИКЕА Сентерс Рус Менеджмент" 2016

        .col-md-4.text-center-sm.hidden-sm.hidden-xs 
          a.footer_container_big(href="/about#future", title="Что случится с вещами", onclick="ga('send', 'event', 'reg', 'open_about_future');")

        .col-md-4.text-center-sm
          .pull-left
            a.footer_rules(title="Правила",target="_blank", href="/static/images/Change_rules.pdf") Правила

            //- span.footer_rules(title="Поддержка") Поддержка
          .pull-right.text-nowrap
            ul.social-icons.text-left
              li 
                a.fb(href="javascript:void(0)", title="Мы в Facebook", onclick="Share.facebook(share_url, share_title ,share_img, share_text, 'footer')")

              li 
                a.vk(href="javascript:void(0)", title="Мы в ВКонтакте", onclick="Share.vkontakte(share_url, share_title ,share_img, share_text, 'footer')")
              li 
                a.ok(href="javascript:void(0)", title="Мы в Одноклассниках", onclick="Share.odnoklassniki(share_url, share_text, 'footer')")
              li 
                a.tw(href="javascript:void(0)", title="Мы в Твиттере", onclick="Share.twitter(share_url,  share_text, 'footer')")



      footer.hidden-lg.hidden-md.navbar-fixed-bottom
        .col-md-12.text-center
          .col-xs-6
            a.footer_rules(target="_blank",title="Правила", href="/static/images/Change_rules.pdf") Правила
          .col-xs-6


        .col-md-6.text-center-sm.margin_top_10
          
          ul.social-icons.text-center-sm.col-md-6.text-center-xs
            li 
              a.fb(href="javascript:void(0)", title="Мы в Facebook", onclick="Share.facebook(share_url, share_title ,share_img, share_text, 'footer')")

            li 
              a.vk(href="javascript:void(0)", title="Мы в ВКонтакте", onclick="Share.vkontakte(share_url, share_title ,share_img, share_text, 'footer')")
            li 
              a.ok(href="javascript:void(0)", title="Мы в Одноклассниках", onclick="Share.odnoklassniki(share_url, share_text, 'footer')")
            li 
              a.tw(href="javascript:void(0)", title="Мы в Твиттере", onclick="Share.twitter(share_url,  share_text, 'footer')")
        .col-md-6.text-center-sm.hidden-md.hidden-lg.text-center-xs
          span.copyright © ООО "ИКЕА Сентерс Рус Менеджмент" 2016

      script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-5557003-14','auto');ga('send','pageview');
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id=GTM-MBVCDN", height="0", width="0",style="display:none;visibility:hidden")
      script  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MBVCDN');

    include ./components/graph_popup.jade
    include ./components/popup_nocart.jade


      