extends ./layout.jade
block content

  header.header  
    .container.admin_page
      h1.header_logo.pull-left.col-sm-3.col-xs-6
        a.logo(href='/admin', title=language.header.main)
      .text-center.col-sm-6.hidden-xs.hidden-sm
        span.header_desc Панель модератора
      .pull-right.col-sm-3.col-xs-6.text-right(id="logout_place")
      script(type="text/javascript", src="/static/views/admin/logout.js", language="javascript")

  .main.admin_page
    .background
    .container.main_first-container(id="photos_place")
    script(type="text/javascript", src="/static/views/admin/photo.js", language="javascript")                
  include ./includes/footer.jade