@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,latin-ext,cyrillic')

import_tree('./mixins')
import_tree('./components')

webfont(HelveticaNeueCyr-Bold,HelveticaNeue, false,normal, bold)

@import 'variables.styl'


/* Global styles*/

body 
  min-height 100vh
  height 100%
  font-size 12px


.dashboard
  span
    padding-top 15px
    padding-bottom 15px
    color #ef5f48!important
    font-size 50px
    display block

.font
  &_size
    &_20
      font-size 20px
.wow
  visibility hidden

.red 
  color color_red
  
.white
  color white

.black
  color black

.admin_weight
  min-height 800px!important  
 
  
span
  color white  


.float_left_width_100
  float left
  width 100%
  
a
  color color_red 
  text-decoration none
  cursor pointer
  transition 300ms all ease-in
  
a:hover, a:active, a:focus, a:active:focus
  text-decoration none
  color color_red_hover
  outline none
  
h1, h2, h3
  margin 0px
  overflow hidden

  
h2
  font-weight 300
  font-size 34px
  color white

  &.modal-title
    color #111 
    
h3
  font-size 18px 

body
  opacity 1
  min-height 100%
  font-family 'Open Sans', sans-serif
  font-weight 300
  font-size 14px

div.background   
  z-index -1
  position absolute
  left 0px
  top 0px
  background url(../images/background.jpg)
  background-size cover
  min-height 100%
  min-width 100%
   
  &::after
    display block
    content ''
    position absolute
    left 0
    width 100%
    height 100%
    top 0
    background rgba(33,47,51,0.6)
    z-index 1

	

.admin
  &_weight
      min-height 400px
    

.main
  z-index 2
  min-height 100%
  padding-top 140px
  padding-bottom 90px
  position relative
  min-height 100vh
  
  &_first-container 
    margin-top -15px
    position relative
    background white
    z-index 3
    border-radius 10px
    box-shadow inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
    padding 15px
    margin-bottom 0px
    padding-bottom 50px
    

    & .radio
      &-thumb
        
        & label
          cursor pointer
          & i
            font-size 60px
            
          & input
            visibility hidden
            
        &-up
          
          & label
            
            & input:checked
              
              & + i
                color color_green
        
        &-down
          
          & label
            
            & input:checked
              
              & + i
                color color_red

    

    & span
      color black
    
    & h1, & h2
      font-size 22px
      color black
      font-size 22px
      font-weight normal
      padding 20px 0px
      border-bottom 1px solid #e5e5e5
    
    & h1
      font-weight bold
      
    & .input-group-addon span
      color color_red
      cursor pointer
    
    .form-horizontal, .form-group 
      margin 15px auto

      & p
      & input
        overflow auto
      
      & a
        font-size 14px
        
      & i
        font-size 20px
        padding-right 15px
      
      button i
        font-size 14px
        

      & .pull-left span
        line-height 34px
      
      & span.glyphicon
        color #555  
  
  .login_form
  	
  
	  &_account-wall
	    position relative
	    margin 0 auto
	    width 270px
	    box-shadow(0px 2px 2px rgba(0, 0, 0, 0.3))
	    border-radius(10px)
	    padding 30px 5px 24px 5px
	    background-color #f7f7f7

		  & h2 
		    font-size 40px
		    margin 0 auto
		    padding: 0 0 15px 0
		    font-weight 700
		    
		  & form 
		    padding 15px
		    margin 0 auto
		  
		  &_btn.btn
        background color_red
        width 100%
        height 42px
        line-height 26px  
		    padding 7px
        font-size 16px  
		    outline none!important
		    border-color color_red
		    text-transform uppercase
        border-radius 6px  
		    
		    &:hover, &:active
		      background color_red_hover
		      outline none
		      color white
		      border-color color_red_hover
		      
		  & form input:not(.login_form_btn)
		    border-radius 10px
		    padding 10px
		    font-size 16px
		    height 42px
		    line-height 22px 
		    box-sizing border-box  
		    width 100%
		    z-index 2
		    outline-color color_red
		    margin-bottom -1px
		    border-radius(6px 6px 0px 0px)
		      
		    & + input:not(.login_form_btn)
		      margin-bottom 10px
		      z-index 1
          line-height 42px  
		      border-radius(0px 0px 6px 6px)
  
/*Jquery ui*/

.ui-widget-header 
  border none
  background color_red
  
.ui-datepicker th span
	color color_red
	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
	color color_red
	
#ui-datepicker-div a
	transition none!important
	
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary
	background color_red
	


.footer
  position fixed
  z-index 23
  bottom 0px
  width 100%
  height 50px
  padding 5px 0px
  border-top 3px solid color_red
  background #222
  
  &_desc 
    line-height 40px  
    font-weight 300
    opacity 0.9
    cursor pointer
    user-select none
    
  & .container {
    line-height 40px
  }

  &_logo 
      font-size 20px
      font-weight bold
      font-family "Helvetica Neue",Helvetica,Arial,sans-serif 
      
  &_mail
    color white
    opacity 0.85
     
    &:hover
      color white
      text-decoration underline
      
.textarea
  resize none!important
  
  &_comments
    min-height 150px
    max-width 100%





.custab
  border 1px solid #ccc
  padding 5px
  margin 25px 0
  box-shadow 3px 3px 2px #ccc
  transition: 0.5s
  max-width 100%
  
  & td 
  	padding-right 2px
  	padding-left 2px
   

  	& span.remove
      color white
      transform rotate(45deg)
      text-align center
      display inline-block
      background color_red
      top 0px
      width 26px
      height 26px
      right 15px
      font-size 26px
      line-height 26px
      border-radius 50%    
      transition 150ms opacity ease-in, 600ms transform ease-in     
      cursor pointer
      z-index 200
      vertical-align middle

      &:hover
        transform rotate(405deg)
        background color_red_hover
  
  & input
  & textarea
  	background transparent
  	border none
  	width auto
    resize none 
    min-width 100px 
  	border-bottom 1px solid transparent
  
  	
  	&.error
  		color color_red

  	&:focus
  		border none
  		outline none
    
	&:hover
    box-shadow 3px 3px 0px transparent
    transition 0.5s
    
.pagination 
	
	& > li > a
	& > li > span
		color color_red
		
	& > .active > a
	& > .active > span
	& > .active > a:hover
	& > .active > span:hover
	& > .active > a:focus
	& > .active > span:focus
		background-color color_red
		border-color color_red_hover
		
	& > li > a:hover
	& > li > span:hover
	& > li > a:focus
	& > li > span:focus
		color color_red_hover
  

.control
  &-label
    line-height 34px  
		
::-webkit-input-placeholder
  color color_red
          
::-moz-placeholder
  color color_red
        
:-moz-placeholder
  color color_red
          
:-ms-input-placeholder
  color color_red



.modal

  &-content
    width inherit
    height inherit
    margin 0 auto
    

    & textarea
      min-height 150px
      resize none

  h3 
    margin-top 20px
    margin-bottom 15px 
  
  a
    &.phone
      font-size 24px
      font-weight bold

  &-footer
    & button
      margin 0 auto
      display block

.vertical
  &-alignment-helper
    display table
    height 100%
    width 100%

  &-align-center
    display table-cell
    vertical-align middle



.table
  vertical-align middle

  &-img
    max-height 65px

  & tr
  
    & td
    & th
      vertical-align middle!important
      
    & td
      
      & Да
        color color_green

  &>tbody>tr>td
  &>tbody>tr>th
  &>tfoot>tr>td
  &>tfoot>tr>th
  &>thead>tr>td
  &>thead>tr>th
    padding-left 2px
    padding-right 2px

  



@media (max-width: 768px)

 	.login_form
 		padding-top 0px
 		
 	div.main 
 		padding-top 120px 

@media (max-width: 991px)

  .main
    &_first-container
      margin-left 15px
      margin-right 15px
      margin-top -45px
      overflow auto
      width calc(100% - 30px)

