/*Global params*/

vendors = official
/*COLORS*/

color_red = #ef5f48
color_red_hover = #F94143

color_green = #4CAF50

color_gray = rgba(255,255,255,0.2)
color_gray_hover = rgba(255,255,255,0.3)

color_black = rgba(0, 0, 0, 0.9)

color_red_mega = #ec0933

color_blue = #2c9dc6

color_purpure = #ed646d

color_orange = #ffc064

color_mega_green = #7cad58

color_counter = #a4d763


color_mega_red = #c8444f