.popup.about_ros
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-6.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Ростов-на-Дону
            .about_mega_geo Ростовская область, Аксайский район, г. Аксай, пр. Аксайский, 23
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/rnd/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"

            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 12:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/rnd/scheme/?point=5532") Расположение


            .about_mega_sheldue Расписание мобильных пунктов
            .about_mega_dates 
              span.active 18
              | ,  
              span 19
              | , 
              span 25
              | , 
              span 26 
              div марта 
         

            .about_mega_time.active(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 14:30
                .about_mega_place Парк "Дружба", центральный вход
              .about_mega_item
                .about_mega_times 15:00 - 17.00
                .about_mega_place Парк "Дружба", центральный вход



            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 14:30
                .about_mega_place Парк Революции, центральный вход
              .about_mega_item
                .about_mega_times 15:00 - 17.00
                .about_mega_place ул. Суворова, 52а, Кретивное Пространство

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 14:30
                .about_mega_place Парк "Дружба", центральный вход
              .about_mega_item
                .about_mega_times 15:00 - 17.00
                .about_mega_place Парк "Дружба", центральный вход

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 14:30
                .about_mega_place Парк Революции, центральный вход
              .about_mega_item
                .about_mega_times 15:00 - 17.00
                .about_mega_place ул. Суворова, 52а, Кретивное Пространство

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 14:30
                .about_mega_place Парк "Дружба", центральный вход
              .about_mega_item
                .about_mega_times 15:00 - 17.00
                .about_mega_place Парк "Дружба", центральный вход
          .helper

.popup.about_nig
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-4.col-lg-offset-7.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Нижний Новгород
            .about_mega_geo Нижегородская область, Кстовский район, Федяково
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/nn/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы:
            .about_mega_worktime_st пн-пт: 
              .about_mega_worktime_time 11:00-20:00
            .about_mega_worktime_st cб, вс: 
              .about_mega_worktime_time 10:00-22:00
            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/nn/scheme/?point=5535") Расположение
          .helper

.popup.about_adg
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-4.col-lg-offset-7.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Адыгея-Кубань
            .about_mega_geo Республика Адыгея, Тахтамукайский район, аул Новая Адыгея, Тургеневское шоссе, 27
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/adygeya/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы:
              .about_mega_worktime_time 10:00-22:00
            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/adygeya/scheme/?point=5525") Расположение
          .helper

.popup.about_sam
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-6.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Самара
            .about_mega_geo г. Самара, Московское шоссе, 24 км, дом.5
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/samara/routes/") Как добраться 

            .about_mega_change Расписание пункта "Меняйся"

            .about_mega_worktime Время работы:
            .about_mega_worktime_st пн-пт: 
              .about_mega_worktime_time 12:00-21:00
            .about_mega_worktime_st cб, вс: 
              .about_mega_worktime_time 10:00-22:00
            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/samara/scheme/?point=5533") Расположение


            .about_mega_sheldue Расписание мобильных пунктов
            .about_mega_dates 
              span.active 12
              | , 
              span 13  
              | , 
              span 19  
              | ,
              span 20  
              | , 
              span 26  
              | , 
              span 27  
              div марта
              |  / 
              span 2
              | ,
              span 3 

              div апреля
            .about_mega_time.active(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place пр. Кирова, ост. "Барбошина Поляна"
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place м. Безымянка, ул. Н.-Вокзальная, 9

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Пл. Кирова, пр-т Кирова, 145
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place Парк Гагарина, парковка напротив парка, ул. Ст.-Загора, 52

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Московское ш., 270, напротив ТЦ Самолет
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place пр-т К. Маркса, 179/Революционная

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place ул. Ст.-Загора/Ташкентская, р-н "Колизея"
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place ДК "Октябрь", пр-т Металлургов, 78Б

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Постников Овраг, ул. Ново-Садовая/Новомайская, парковка
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place ул. Н.-Садовая, 347а/Губанова, ТЦ Панорама 

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place ул. Авроры, напротив ТРК Аврора
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place м. Победа, ул. 22 Партсъезда

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Тольятти, ул. Юбилейная, 2 
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place Тольятти, ул. Революционная, 52А, парковка ТК Русь

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Тольятти, ул. Юбилейная, 2 
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place Тольятти, ул. Революционная, 52А, парковка ТК Русь

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 12:00 - 15:00
                .about_mega_place Тольятти, Центр. рынок, ул. Комсомольская, 62 с2
              .about_mega_item
                .about_mega_times 15:30 - 18:30
                .about_mega_place Тольятти, пр-т Ст. Разина, 60, парковка ТЦ Детский Мир


          .helper

.popup.about_ufa
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-6.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Уфа
            .about_mega_geo г. Уфа, улица Рубежная, дом 174
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/ufa/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/ufa/scheme/?point=5534") Расположение

            .about_mega_sheldue Расписание мобильных пунктов
            .about_mega_dates 
              span.active 11
              |, 
              span 12  
              |, 
              span 13 
              | , 
              span 18 
              | , 
              span 19 
              | , 
              span 20
              | , 
              span 25
              | , 
              span 26
              | , 
              span 27 
              | 
              div марта 
              | / 
              span 1
              | , 
              span 2
              | , 
              span 3 
              div апреля

            .about_mega_time.active(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 15:00 - 21:00
                .about_mega_place Парк культуры и отдыха "Кашкадан"

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха "Кашкадан"
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха "Кашкадан" 
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 15:00 - 21:00
                .about_mega_place Парк культуры и отдыха им. Якутова
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха им. Якутова
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха им. Якутова

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 15:00 - 21:00
                .about_mega_place микрорайон Сипайлово, Жукова, 12
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха "Кашкадан"
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Парк культуры и отдыха "Кашкадан"

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 15:00 - 21:00
                .about_mega_place Парк культуры и отдыха "Кашкадан"

            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 15:00 - 21:00
                .about_mega_place Остановка Аграрный университет
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Остановка Аграрный университет
            .about_mega_time(style="margin-top:10px")
              .about_mega_item
                .about_mega_times 13:00 - 19:00
                .about_mega_place Остановка Аграрный университет

          .helper
 
.popup.about_ekb
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-4.col-lg-offset-7.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Екатеринбург
            .about_mega_geo г.Екатеринбург, ул. Металлургов, 87
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/ekaterinburg/routes/") Как добраться       

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/ekaterinburg/scheme/?point=5529") Расположение


          .helper
    

.popup.about_nov
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-4.col-lg-offset-7.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Новосибирск
            .about_mega_geo г. Новосибирск, улица Ватутина, дом 107

            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/novosibirsk/routes/") Как добраться
                             
            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/novosibirsk/scheme/?point=5531") Расположение

                  
          .helper

.popup.about_mos
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-12.text-center-xs
          .child.child_about
            span.close_popup +
            .col-sm-12
              .row
                .col-md-4
                  .about_mega_title МЕГА Химки
                  .about_mega_geo Московская область, г. Химки, микрорайон ИКЕА, корпус 2
                  a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/khimki/routes/") Как добраться
                  

                  .about_mega_change Расписание пункта "Меняйся"
                  .about_mega_worktime Время работы: 
                    .about_mega_worktime_time 12:00-22:00
                  .about_mega_worktime 9 Апреля: 
                    .about_mega_worktime_time 10.00-22.00

                    

                  a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/khimki/scheme/?point=5514") Расположение


                  div
                    .about_mega_sheldue Расписание мобильных пунктов
                    .about_mega_dates 
                      span.active 15
                      | ,  
                      span 18
                      |,  
                      span 21
                      | , 
                      span 24
                      | ,   
                      span 27 
                      div марта 
             
                    .about_mega_time.active(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place м. Сходненская, ул. Яна Райниса, 1
                      .about_mega_item
                        .about_mega_times 15:15 - 16:45
                        .about_mega_place м. Планерная, ул. Планерная, 5
                      .about_mega_item
                        .about_mega_times 17:20 - 19:00
                        .about_mega_place м. Речной Вокзал, ул. Фестивальная, 13-17


                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place м. Сходненская, ул. Яна Райниса, 1
                      .about_mega_item
                        .about_mega_times 15:15 - 16:45
                        .about_mega_place м. Планерная, ул. Планерная, 5
                      .about_mega_item
                        .about_mega_times 17:20 - 19:00
                        .about_mega_place м. Речной Вокзал, ул. Фестивальная, 13-17

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place м. Сходненская, ул. Яна Райниса, 1
                      .about_mega_item
                        .about_mega_times 15:15 - 16:45
                        .about_mega_place м. Планерная, ул. Планерная, 5
                      .about_mega_item
                        .about_mega_times 17:20 - 19:00
                        .about_mega_place м. Речной Вокзал, ул. Фестивальная, 13-17

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place м. Сходненская, ул. Яна Райниса, 1
                      .about_mega_item
                        .about_mega_times 15:15 - 16:45
                        .about_mega_place м. Планерная, ул. Планерная, 5
                      .about_mega_item
                        .about_mega_times 17:20 - 19:00
                        .about_mega_place м. Речной Вокзал, ул. Фестивальная, 13-17

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 11:00 - 12:30
                        .about_mega_place м. Сходненская, ул. Яна Райниса, 1
                      .about_mega_item
                        .about_mega_times 12:45 - 14:15
                        .about_mega_place м. Планерная, ул. Планерная, 5
                      .about_mega_item
                        .about_mega_times 14:55 - 16:15
                        .about_mega_place м. Речной Вокзал, ул. Фестивальная, 13-17
                      .about_mega_item
                        .about_mega_times 16:55 - 18:00
                        .about_mega_place Химки, ул. Горшина, 1
                   
                .col-md-4
                  .about_mega_title МЕГА Теплый Стан 
                  .about_mega_geo г.Москва, п.Сосенское, Калужское шоссе 21км (или 41км МКАД)
                  a.about_mega_get.margin_top_10(target="_blank",title="Как добраться", href="http://megamall.ru/teplyi_stan/routes/") Как добраться

                  

                  .about_mega_change Расписание пункта "Меняйся"
                  .about_mega_worktime Время работы: 
                    .about_mega_worktime_time 12:00-22:00

                  a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/teplyi_stan/scheme/?point=5526") Расположение   

                  div
                    .about_mega_sheldue Расписание мобильных пунктов
                    .about_mega_dates 
                      span.active 16
                      | ,  
                      span 19
                      | , 
                      span 22
                      |,  
                      span 25
                      | , 
                      span 28 
                      div марта 

                    .about_mega_time.active(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place ул. Чертановская, 20 к2 
                      .about_mega_item
                        .about_mega_times 15:15 - 17:00
                        .about_mega_place ул. Красного Маяка, 2
                      .about_mega_item
                        .about_mega_times 17:40 - 19:00
                        .about_mega_place ул. Островитянова, 32

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 14:00 - 15:30
                        .about_mega_place пр-т Вернадского,  86 с 1А
                      .about_mega_item
                        .about_mega_times 16.00-17.30
                        .about_mega_place ул. Профсоюзная, 104
                      .about_mega_item
                        .about_mega_times 17:50 - 19:30
                        .about_mega_place Новоясеневский пр-т, 1Б к1
                      .about_mega_item
                        .about_mega_times 20:00 - 21:00
                        .about_mega_place ул. Тарусская, 5 к1

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place ул. Чертановская, 20 к2 
                      .about_mega_item
                        .about_mega_times 15:15 - 17:00
                        .about_mega_place ул. Красного Маяка, 2
                      .about_mega_item
                        .about_mega_times 17:40 - 19:00
                        .about_mega_place ул. Островитянова, 32

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place ул. Чертановская, 20 к2 
                      .about_mega_item
                        .about_mega_times 15:15 - 17:00
                        .about_mega_place ул. Красного Маяка, 2
                      .about_mega_item
                        .about_mega_times 17:40 - 19:00
                        .about_mega_place ул. Островитянова, 32

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 15:00
                        .about_mega_place ул. Чертановская, 20 к2 
                      .about_mega_item
                        .about_mega_times 15:15 - 17:00
                        .about_mega_place ул. Красного Маяка, 2
                      .about_mega_item
                        .about_mega_times 17:40 - 19:00
                        .about_mega_place ул. Островитянова, 32


                .col-md-4
                  .about_mega_title МЕГА Белая Дача
                  .about_mega_geo Московская обл., Люберецкий р-н, г. Котельники, 1-й Покровский пр-д, д. 5, (14-йкм МКАД)

                  a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/belaya_dacha/routes/") Как добраться 

                  

                  .about_mega_change Расписание пункта "Меняйся"
                  .about_mega_worktime Время работы: 
                    .about_mega_worktime_time 10:00-20:00

                  a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/belaya_dacha/scheme/?point=5516") Расположение       
                  

                  div
                    .about_mega_sheldue Расписание мобильных пунктов
                    .about_mega_dates 

                      span.active 17
                      | ,  
                      span 20
                      | , 
                      span 23
                      |,  
                      span 26
                      | , 
                      span 29 
                      div марта 

                    .about_mega_time.active(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 14:30
                        .about_mega_place м. Братиславская, ул. Перервы, 43
                      .about_mega_item
                        .about_mega_times 15:00 - 16:30
                        .about_mega_place м. Кузьминки, Волгоградский проспект, д. 84, к.1
                      .about_mega_item
                        .about_mega_times 17:00 - 18:30
                        .about_mega_place м. Рязанский проспект, Рязанский пр-т, 75
                      .about_mega_item
                        .about_mega_times 18:45 - 20:00
                        .about_mega_place м. Выхино, ул. Хлобыстова, 5

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 11:00 - 12:30
                        .about_mega_place м. Братиславская, ул. Перервы, 43
                      .about_mega_item
                        .about_mega_times 13:00 - 14:30
                        .about_mega_place м. Кузьминки, Волгоградский проспект, д. 84, к.1
                      .about_mega_item
                        .about_mega_times 15:00 - 16:30
                        .about_mega_place м. Рязанский проспект, Рязанский пр-т, 75
                      .about_mega_item
                        .about_mega_times 16:15 - 18:00
                        .about_mega_place м. Выхино, ул. Хлобыстова, 5

                                     
                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 14:30
                        .about_mega_place м. Братиславская, ул. Перервы, 43
                      .about_mega_item
                        .about_mega_times 15:00 - 16:30
                        .about_mega_place м. Кузьминки, Волгоградский проспект, д. 84, к.1
                      .about_mega_item
                        .about_mega_times 17:00 - 18:30
                        .about_mega_place м. Рязанский проспект, Рязанский пр-т, 75
                      .about_mega_item
                        .about_mega_times 18:45 - 20:00
                        .about_mega_place м. Выхино, ул. Хлобыстова, 5

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 11:00 - 12:30
                        .about_mega_place м. Братиславская, ул. Перервы, 43
                      .about_mega_item
                        .about_mega_times 13:00 - 14:30
                        .about_mega_place м. Кузьминки, Волгоградский проспект, д. 84, к.1
                      .about_mega_item
                        .about_mega_times 15:00 - 16:30
                        .about_mega_place м. Рязанский проспект, Рязанский пр-т, 75
                      .about_mega_item
                        .about_mega_times 16:15 - 18:00
                        .about_mega_place м. Выхино, ул. Хлобыстова, 5

                    .about_mega_time(style="margin-top:10px")
                      .about_mega_item
                        .about_mega_times 13:00 - 14:30
                        .about_mega_place м. Братиславская, ул. Перервы, 43
                      .about_mega_item
                        .about_mega_times 15:00 - 16:30
                        .about_mega_place м. Кузьминки, Волгоградский проспект, д. 84, к.1
                      .about_mega_item
                        .about_mega_times 17:00 - 18:30
                        .about_mega_place м. Рязанский проспект, Рязанский пр-т, 75
                      .about_mega_item
                        .about_mega_times 18:45 - 20:00
                        .about_mega_place м. Выхино, ул. Хлобыстова, 5



                  
          .helper

.popup.about_spb
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-6.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Дыбенко
            .about_mega_geo Ленинградская область, Всеволожский район, Мурманское шоссе, 12 км
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/dybenko/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/dybenko/scheme/?point=5527") Расположение 

            .about_mega_title.margin_top_20 МЕГА Парнас
            .about_mega_geo  Ленинградская область, Всеволожский район, пересечение КАД (кольцевой автодороги) и проспекта Энгельса
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/parnas/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/parnas/scheme/?point=5528") Расположение 

              
          .helper
.popup.about_kaz
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-4.col-lg-offset-7.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Казань
            .about_mega_geo г. Казань, проспект Победы, дом 141
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/kazan/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/kazan/scheme/?point=5530") Расположение

          .helper


.popup.about_omsk
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-6.text-center-xs
          .child.child_about
            span.close_popup +
            .about_mega_title МЕГА Омск
            .about_mega_geo г. Омск, Бульвар Архитекторов, дом 35
            a.about_mega_get.margin_top_10(target="_blank", title="Как добраться", href="http://megamall.ru/omsk/routes/") Как добраться

            .about_mega_change Расписание пункта "Меняйся"
            .about_mega_worktime Время работы: 
              .about_mega_worktime_time 10:00-22:00

            a.about_mega_get.margin_top_10(target="_blank", title="Расположение", href="http://megamall.ru/omsk/scheme/?point=5467") Расположение

            .about_mega_sheldue Расписание мобильных пунктов
            .about_mega_dates 12, 13, 19, 20, 26, 27 
              div марта 
              
            div(style="margin-top:10px").about_mega_normal
              .about_mega_item.overflow_hidden
                .about_mega_times 10.00 - 11.00
                .about_mega_place кинотеатр "КРИСТАЛЛ", на парковке 
              .about_mega_item.overflow_hidden
                .about_mega_times 12.00 - 13.00
                .about_mega_place остановка "СИБЗАВОД", на парковке
              .about_mega_item.overflow_hidden
                .about_mega_times 14.00 - 15.00
                .about_mega_place остановка "ДОМ ТУРИСТА", на парковке
              .about_mega_item.overflow_hidden
                .about_mega_times 16.00 - 17.00
                .about_mega_place площадь железнодорожного вокзала
              .about_mega_item.overflow_hidden
                .about_mega_times 18.00 - 19.00
                .about_mega_place парк им. 30-летия ВЛКСМ, на парковке у центрального входа            
          .helper  
