.counter.counter_main_page.pull-left
  .counter_brackets
  .counter_brackets
  span.counter_desc собрано
  ul.text-center
    include counter_data.jade
    
  span.counter_desc Одежды
span.balance_place
script(type="text/javascript", src="/static/views/photo/balance_popup.js", language="javascript")
script(type="text/javascript", src="/static/views/photo/balance.js", language="javascript")
    //- span.header_check.text-center.pull-right Проверить баланс