.popup.popup_graph
  .popup_opacity
  .popup_content
    .container
      .row
        .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.text-center-xs
          .child.child_graph
            span.close_popup +
            h2.graph_title.expert_line Статистика
            .graph_block
              .graph_x_axis
              .graph_y_axis
              .graph_y_axis_1.graph_y_axis.hidden-xs.hidden-sm
              .graph_y_axis_2.graph_y_axis.hidden-xs
              .graph_y_axis_3.graph_y_axis.hidden-xs.hidden-sm
              .graph_bottom_title 9 марта
              .graph_bottom_title.graph_bottom_title_1.hidden-xs.text-center.hidden-sm 17 марта
              .graph_bottom_title.graph_bottom_title_2.text-center.hidden-xs 25 марта
              .graph_bottom_title.graph_bottom_title_3.hidden-xs.text-center.hidden-sm 2 апреля
              .graph_bottom_title.graph_bottom_title_1.hidden-xs.graph_bottom_title_top.text-center.hidden-sm 28 225 кг
              .graph_bottom_title.graph_bottom_title_2.graph_bottom_title_top.text-center.hidden-xs 99 107 кг
              .graph_bottom_title.graph_bottom_title_3.hidden-xs.graph_bottom_title_top.text-center.hidden-sm 198 085 кг
              .graph_bottom_title.right.text-center 9 апреля

              .graph_right_title 0 кг
              .graph_right_title.center 150 000 кг
              .graph_right_title.top 300 000 кг
              .graph_date
                canvas(id="chart1" width="100%" height="275px")
           .helper  