.girl.wow.pull-left.fadeInLeft.hidden-xs.hidden-sm(data-wow-iteration="1", data-wow-offset="0")

header.navbar.navbar-default.navbar-fixed-top.hidden-lg.hidden-md
  .navbar-header.pull-right.span3.text-left
      a.navbar-brand(href="http://megamall.ru/" title="МегаМеняйся 2.0")
    
  span.decloration.pull-left  А в прошлом году —           
  .pull-left.span9
    .counter.pull-right
      span.counter_desc собрано
      ul.text-center
        li 1
        li.lefted 4
        li 5
        li 5
        li 9
      span.counter_desc Одежды
      
     
header.navbar.navbar-default.navbar-fixed-top.hidden-xs.hidden-sm
  .col-md-8
    .navbar-header
   
      a.navbar-brand(href="http://megamall.ru/" title="МегаМеняйся 2.0")
        
  include counter.jade