//-{ "_id" : 8, "total" : 10803.70000000006 }
  { "_id" : 12, "total" : 8336.000000000005 }
  { "_id" : 6, "total" : 16563.100000000028 }
  { "_id" : 11, "total" : 9010.000000000004 }
  { "_id" : 0, "total" : 14307.432000000043 }
  { "_id" : 13, "total" : 21483.799999999977 }
  { "_id" : 5, "total" : 11843.800000000068 }
  { "_id" : 3, "total" : 26222.200000000008 }
  { "_id" : 10, "total" : 20600.700000000026 }
  { "_id" : 9, "total" : 14261.6 }
  { "_id" : 7, "total" : 26961.199999999983 }
  { "_id" : 1, "total" : 20642.400000000034 }
  { "_id" : 2, "total" : 15997.730000000172 }
  { "_id" : 14, "total" : 2463.5999999999995 }
  { "_id" : 4, "total" : 16817.900000000005 }

//- createPromouter "MEGA_TS", "99T47AEC", 0
  createPromouter "MEGA_BD", "4L3P4FR9", 1
  createPromouter "MEGA_KH", "39RF7WA3", 2
  createPromouter "MEGA_DY", "X7C43E4K", 3
  createPromouter "MEGA_PA", "WJ4999TU", 4
  createPromouter "MEGA_AD", "4HLC39A3", 5
  createPromouter "MEGA_EK", "JDS345DS", 6
  createPromouter "MEGA_KA", "77AW93MY", 7
  createPromouter "MEGA_NN", "499WF3AN", 8
  createPromouter "MEGA_NO", "LTH949X4", 9
  createPromouter "MEGA_OM", "479WUAF9", 10
  createPromouter "MEGA_RO", "M94NR7M9", 11
  createPromouter "MEGA_SA", "CNA797E9", 12
  createPromouter "MEGA_UF", "J44M4C3M", 13  

.popup.popup_nocart.sam
  .popup_opacity
  .popup_content
    .container.overflow_hidden
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.text-center-xs
          .child.child_nocart
            span.close_popup +
            h2.graph_title.expert_line.text-left-xs МЕГА говорит вам БОЛЬШОЕ СПАСИБО за ваше участие в проекте “Меняйся”!
            p.text-left-xs Благодаря вам и другим активным и неравнодушным участникам, нам удалось сделать очень многое:
            br
            p.text-left-xs Собрать 275 тонн вещей - на 230 тонну больше, чем в прошлом году! Все они пойдут на переработку или благотворительность.
            p.text-left-xs В конкурсе "ОТДАТЬ НЕЛЬЗЯ ОСТАВИТЬ" 2088 человек получили экспертную оценку своих луков.
            p.text-left-xs Было разыграно 60 карт «МЕГА Подарок» на модные перемены.
            p.text-left-xs Один участник получит главный приз - "Модный гардероб на год".
            br
            p.text-left-xs Впереди нас ждет еще много интересных проектов, направленных на то, чтобы сделать мир лучше! Надеемся увидеть вас снова.
            br
            p.text-left-xs До новых перемен!
            p.text-left-xs Ваша МЕГА
          .helper  



.popup.popup_nocart.ufa
  .popup_opacity
  .popup_content
    .container.overflow_hidden
      .row
        .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.text-center-xs
          .child.child_nocart
            span.close_popup +
            h2.graph_title.expert_line.text-left-xs МЕГА говорит вам БОЛЬШОЕ СПАСИБО за ваше участие в проекте “Меняйся”!
            p.text-left-xs До 17 апреля включительно мы продолжаем выдачу карт участникам, сдавшим вещи до 6 апреля, на стойке информации в МЕГЕ Уфа.
            p.text-left-xs Благодаря вам и другим активным и неравнодушным участникам, нам удалось сделать очень многое:
            br
            p.text-left-xs Собрать 275 тонн вещей - на 230 тонну больше, чем в прошлом году! Все они пойдут на переработку или благотворительность.
            p.text-left-xs В конкурсе "ОТДАТЬ НЕЛЬЗЯ ОСТАВИТЬ" 2088 человек получили экспертную оценку своих луков.
            p.text-left-xs Было разыграно 60 карт «МЕГА Подарок» на модные перемены.
            p.text-left-xs Один участник получит главный приз - "Модный гардероб на год".
            br
            p.text-left-xs Впереди нас ждет еще много интересных проектов, направленных на то, чтобы сделать мир лучше! Надеемся увидеть вас снова.
            br
            p.text-left-xs До новых перемен!
            p.text-left-xs Ваша МЕГА
            p.text-center-xs
              a.btn.btn-info.main_reg(title='Принять участие', href="/photo") принять участие
          .helper 

