html
  head

    meta(charset=config.encoding)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    each href in config.styles.mails
      link(rel="stylesheet", href=href)
    include /includes/favicons.jade
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
  body.normal
    block content